:root{
  --accent-gold: #debc73;
  --accent-white: #fffefe;
  --accent-black: #1a1a1a;
  --accent-grey: #303030;
  /* --accent-grey: #3c3c3c; */
}

html, body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  background: var(--accent-black);
  line-height: 1.4;
}
html {
  scroll-behavior: smooth;
}


/* html, body {

  scrollbar-width: none;
  
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
 */

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.body--opened-menu{
  position: fixed;
  overflow: hidden;
}

.title{
    font-family: serif;
    font-size: 55px;
    font-weight: 600;
    line-height: 1.1;
}
/* --------  scroll ----------*/

/* ::-webkit-scrollbar {
    width: 2px; 
    height: 2px; 
}

::-webkit-scrollbar-track {
    background: var(--accent-black);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
background: var(--accent-gold); 
}

::-webkit-scrollbar-thumb:hover {
    background: #a96264;
} */



/* ========================================== */

.header{
  background: var(--accent-black);
  position: relative;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--accent-white);
  padding: 30px 0px;
  margin-bottom: 30px;
}
.header__logo {
  font-family: serif;
  font-size: 45px;
  color: var(--accent-gold);
}
.header__nav {
}
.nav {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.nav__link {
}
.header__social {
}
.social {
  display: flex;
  gap: 20px;
}
.social__item {
}
.header__button {
}
.button {
  padding: 10px 15px;
  /* font-weight:600; */
  font-size: 20px;
  color: var(--accent-gold);
  background: transparent;
  border: 2px solid var(--accent-gold);
  border-radius: 10px;
  transition: all .3s;
}

.button:hover{
  transform: translateY(-3px);
  background: #00000009;
  border-color: #dcc187;
  color: #dcc187;
}


/* ------------ */

.hero {
  color: var(--accent-white);
  padding-bottom: 50px;
  /* border-bottom: 50%; */
}
.hero__inner {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.hero__info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.hero__title {
  margin-bottom:15px;
  max-width: 815px;
}
.hero__title--gold{
  color: var(--accent-gold);
  font-weight: 700;
  font-style:unset;
}
.hero__descr {
  max-width: 650px;
  margin-bottom: 50px;
}
.hero__form {
  width: fit-content;
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
}

.hero__input{
  padding: 15px 20px;
  background: transparent;
  border: 2px solid var(--accent-white);
  border-radius: 10px;
  transition: border-color .3s;
  color: var(--accent-white);
  font-size: 20px;
}
.hero__input:focus{
  border-color: var(--accent-gold);
}
.hero__button {
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 20px;
}
.hero__grid {
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
      width: fit-content;
}
.hero__item {
  padding: 40px 20px;
  width: fit-content;
  max-width: 320px;
  
  display: flex;
  align-items: center;

  background: transparent;
  border: 4px solid var(--accent-gold);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;

  font-size: 18px;

  transition: all .3s;
}
.hero__img {
  border-radius: 10px;
  overflow: hidden;
}
.hero__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__item:hover{
  box-shadow: 0px 0px 10px var(--accent-gold);
}

/* ---- mobile ------ */

.nav--mobile{
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 10;

  width: fit-content;
  height: 100%;
  padding: 60px 50px 50px 50px;

  background: var(--accent-black);

  transform: translateX(100%);
  transition: all .5s;
}

.nav--mobile--active{
  transform: translateX(0%);
}

.nav__list--mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}
.nav__item--mobile {
  color: var(--accent-white);
  font-size: 25px;
}
.social--mobile {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.social li, .social li svg path{
  transition: all .3s;
}
.social li:hover{
  transform: translateY(-7%);
}

.social li:hover svg path{
  fill: var(--accent-gold);
}

.social li{
  position: relative;
}

.social li a{
  position: absolute;
  inset: 0;
}

.burger__menu{
  display: none;
  z-index: 11;
  padding: 30px;
  width: fit-content;
  position: relative;
  /* top: 5px;
  right: 20px; */
}
.burger__menu span,.burger__menu span::before,.burger__menu span::after{
  display: block;
  width: 30px;
  height: 3px;
  background: var(--accent-gold);
  transition: all .3s;
} 
.burger__menu span::before,.burger__menu span::after{
  position: absolute;
} 
.burger__menu span{
  position: relative;
}
.burger__menu span::before{
  content: "";
  top: -10px;
}
.burger__menu span::after{
  content: "";
  bottom: -10px;
}

.burger__menu--active span{
  background: transparent;
}

.burger__menu--active span::before{
  content: "";
  top: 0px;
  transform: rotate(-45deg);
}
.burger__menu--active span::after{
  content: "";
  bottom: 0px;
  transform: rotate(45deg);
}

/* =================== team ======================= */
.team{
  /* background: #dcdede; */
  padding: 140px 0px;
  /* margin-top: 200px; */
  color: var(--accent-white);
}

.team__slider{
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

.team__title {
  line-height: 100%;
  color: var(--accent-gold);
  margin-bottom: 130px;
}

.team__descr{
  margin-bottom: 30px;
}



/* --- left --- */
.team__left{
  max-width: 578px;
}
.team__slide-left{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  max-width: 176px;
  text-align: center;
}
.team__photo-left{
  width: 176px;
  height: 176px;
  border-radius: 100%;
  overflow: hidden;
  transition: all .4s;
  border: 2px solid  transparent;
}
.team__photo-left img{
  width: 100%;
}

.team__slide-left span{
  font-weight: 600;
  font-size: 18px;
  transition: all .4s;
}

.team__scrollbar {
  width: 100%; /* Во всю ширину родителя */
  height: 8px; /* Высота дорожки */
  background-color: var(--accent-grey); /* Цвет дорожки (фон) */
  border-radius: 4px;
  position: relative;
  margin-top: 63px;
}

.team__scrollbar .swiper-scrollbar-drag {
  background-color: var(--accent-gold); /* Акцентный цвет ползунка */
  border-radius: 4px;
  cursor: pointer;
}


.active-left .team__photo-left{
  border-color: var(--accent-gold);
}
.active-left  span{
  color: var(--accent-gold);
}
/* --- right --- */

.team__inner-right{
  position: relative;
  /* max-width: 702px; */
  height: 620px;
}

.team__slide-right {
  position: relative;
  width: 700px;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.6s ease;
}

.team__slide-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /* Центрирование изображения */
}
.active{
  height: 620px;
  transition-delay: 0.6s;
  margin: auto 0px;
}

.team__photo-descr{
  display: grid;
  grid-template-columns: repeat(2, .5fr);
  position: absolute;
  bottom: 50px;
  padding: 10px 30px;
  width: 100%;
  background: #fff;
  color: var(--accent-grey);
}

.descr__info{
  display: flex;
  flex-direction: column;
  gap:15px
  ;
}
.descr__name{
  font-weight: 600;
  font-size: 25px;
}
.descr__pos{
  font-size: 18px;
}
.descr__list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
  gap: 5px;
}

.descr__item{
  position: relative;
}

.descr__item::before{
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  width: 2px;
  height: 2px;
  background: #000;
  border-radius: 100%;

}

/* ============================== */
/* ============================== */
/* ============================== */

@media (max-width: 1400px){

  /* ----- team ------- */
  .team{
    padding: 130px 0;
  }

  .team__slider{
    gap: 40px;
  }

  .team__title{
    font-size: 55px;
    margin-bottom: 90px;
  }

  /* left */
  .team__left{
    max-width: 50%;
  }

  /* .team__photo-left{
    width: 160px;
    height: 160px;
  } */

  .team__slide-left span{
    font-size: 16px;
  }

  /* right */
  .team__inner-right{
    max-width: 600px;
    height: 520px;
  }

  .team__slide-right{
    width: 600px;
  }

  .active{
    height: 520px;
  }

  .team__photo-descr{
    bottom: 40px;
    gap: 15px;
  }

  .descr__name{
    font-size: 22px;
  }

  .descr__pos{
    font-size: 16px;
  }

  .descr__list {

    font-size: 12px;

}
  .team__slider {
    align-items: flex-start;
  }

  .team__left,
  .team__right {
    flex: 1 1 0;
    min-width: 0; 
  }

  .team__inner-right {
    max-width: 100%;
  }

  .team__slide-right {
    width: 100%;
  }
}

@media (max-width: 1200px){
  /* ---- header ------ */
  .header__top{
    margin-bottom: 10px;
  }

  .header__logo{
    font-size: 35px;
  }
  .header__nav{
    font-size: 18px;
  }
  .header__button{
    font-size: 16px;
  }

  .hero__inner{
    gap: 30px;
  }
  .hero__title{
    font-size: 45px;
  }
  .hero__descr{
    margin-bottom: 35px;
  }
  .hero__item{
    font-size: 15px;
    padding: 30px 10px;
  }

  
  /* --- team ---- */
  .team{
    padding: 70px 0px;
  }
  .team__slider{
    align-items: normal;
    flex-direction: column-reverse;
  }

  .team__title{
    font-size: 45px;
    margin-bottom: 40px;
    text-align: center;
  }

  .team__descr{
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 700px;
    text-align: center;
  }


  /* right */

  .team__right{
    display: flex;
    justify-content: center;
  }
  .team__photo-descr{
    bottom: 0px;
  }

  .team__slide-right img {
    object-fit: cover;
    object-position: 50% 40%;
}

.team__inner-right{
  height: 70vw;
  width: 70vw;
}
.active{
  height: 70vw;
  width: 70vw;
}

/* left */

.team__left{
  max-width: none;
}
.team__photo-left{
  width: 200px;
  height: 200px;
}

.team__slide-left {
    max-width: 200px;
}
}


@media (max-width: 1000px){
  /* ---- header ----- */
  .header__logo{
    font-size: 32px;
  }

  .nav{
    gap: 18px;
  }

  .header__button{
    padding: 7px 10px;
  }

  .social{
    display: none;
  }


  .hero__inner{
    flex-direction: column;
    align-items: center;
  }
  
  .hero__info{
    align-items: center;
  }

  .hero__title, .hero__descr, .hero__item{
    text-align: center;
  }

  .hero__img{
    display: none;
  }

  .hero__item {
        padding: 25px 10px;
    }


  /* ------- team ---------- */

  /* right */
  .descr__name{
    font-size: 18px;
  }

  .descr__info{
    gap: 10px;
  }

  .team__photo-descr{
    padding: 5px 20px;
    gap: 10px;
  }

  .descr__pos{
    font-size: 15px;
  }

  .team__title{ 
    margin-bottom: 25px;
  }

  .team__descr{
    font-size: 18px;
    max-width: 500px;
  }

  .team__scrollbar{
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  .nav, .header__button{
    display: none;
  }
  .burger__menu{
    display: block;
  }
  .header__top{
    padding: 15px 0px;
  }

  .hero__button, .hero__input {
    font-size: 18px;
    padding: 12px 15px;
}

  .hero__title{
    font-size: 40px;
    max-width: 600px;
  }

  .hero__descr{
    font-size: 18px;
    margin-bottom: 15px;
    max-width: 500px;
  }

  .hero__grid{
    gap: 15px;
  }

  .hero__item{
    padding: 20px 10px;
  }

  /* ---- team ------ */

.team{
  padding: 40px 0px;
}
.team__photo-left {
  width: 170px;
  height: 170px;
}

.team__slider{
  gap: 35px;
}

.team__title{
  font-size: 35px;
  margin-bottom: 10px;
}

 /* left */
 .team__title{
  font-size: 40px;
 }


 .team__slide-left span {
  font-size: 14px;
}

.team__scrollbar {
  margin-top: 20px;
}

.team__descr{
  font-size: 12px;
  margin-bottom: 20px;
}

/* right */

.descr__list{
  display: none;
}

.descr__info{
  gap: 5px;
}

.descr__name{
  font-size: 15px;
}
.descr__pos{
  font-size: 12px;
}
.team__photo-descr{
  display: flex;
}

    .active,.team__inner-right {
      width: 80vw;
        height: 80vw;
    }
  
}


@media (max-width: 600px){

  .header__logo {
    font-size: 27px;
  }

  .burger__menu {
    padding: 20px;
    transform: scale(.8);
  }

  .nav__item--mobile{
    font-size: 20px;
  }

  .header__button--mobile {
    font-size: 15px;
  }

  .hero__form{
    flex-direction: column;
    gap: 15px;
  }

  .hero__descr{
    font-size: 15px;
    margin-bottom: 25px;
  }

  .hero__button, .hero__input {
    font-size: 15px;
    padding: 12px 15px;
  }

  .hero__item{
    padding: 15px 10px;
    border: 2px solid var(--accent-gold);
  }


  /* --- team ---- */
   .team__title{
  font-size: 35px;
 }

 .team__slide-left {
        max-width: 160px;
    }
 .team__photo-left {
  width: 130px;
  height: 130px;
}

}